.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #d0e2fa;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
  font-weight: bold;
  width: 100%;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  font-size: 48px;
}

.button {
  margin-top: 24px;
  border: none;
  font-size: 18px;
  width: 40%;
  padding: 4px 20px;
  font-weight: bold;
}